<h1>editar Operacion </h1>


{{#each objOperEdit}}
    <p class="id">
    {{_id}}
    </p>
    <P>
    {{origen_id}}
    </P>
    <p>
    {{destino_id}}
    </p>
    <p>
        {{monto}}
    </p>
    {{#if comentario}}
    <form action="/edit" method="POST" >
        <input type="text" value="{{comentario}}" onclick="newValue()">
    </form>
    {{/if}}
{{/each}}


<script>
    let form = document.querySelector('form')
    let id = document.querySelector('.id')
    let inputValue ;
   const newValue=()=>{
       inputValue= document.querySelector('input').value
   }
    console.log(inputValue)
    form.action="/edit/"+id.innerText+"/"+inputValue
</script>