<p>es desde operaciones</p>

<h1>Listado de Operaciones realizadas</h1>
    {{#each oper}}
  
   <li>    
        <a href="">
        <button hidden name="{{#each this}} {{_id}} {{/each}}"></button>
        {{!--  Este es el ID: {{#each this}} {{_id}} {{/each}} --}}
          {{#each this}} {{origen_id}} {{/each}} 
          paaago  
          {{#each this}} {{destino_id}}{{/each}}
          atraves de por 
          
          {{#each this}} {{tipo_transaccion}}{{/each}} 
          <br>
          realizado el :
          {{#each this}} {{createdAt}}{{/each}} 
           
        </a>
        <form action="/deleteOperation" method="post">
            <button type="submit" name="idToDelete" value={{#each this}} {{_id}}{{/each}}  >Borrar</button>
        </form>
        
        <li></li>
        
   {{/each}}

  <script>
    let theLinks = document.querySelectorAll('a button')
    
    let linkA=document.querySelector('a')
    theLinks.forEach((element,index)=>{
        
        theLinks.forEach((elementLink,indexLink)=>{
          if(index===indexLink){
            element.parentNode.href="http://localhost:5050/edit/"+element.name.slice(1,25)
            }         
        })

      
    })
</script>
   
